@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
}

body {
  background-color: var(--pale-grey);
  color: var(--deep-grey);
  font-family: 'Roboto', sans-serif;
}

:root {
  --deep-grey: hsl(213, 25%, 25%);
  --medium-grey: hsl(213, 25%, 50%);
  --stone-grey: hsl(213, 25%, 70%);
  --light-grey: hsl(213, 25%, 95%);
  --pale-grey: hsl(213, 25%, 99%);
  
  --dark-blue: hsl(216, 90.5%, 40%);
  --success-green: hsl(113, 90.5%, 33%);
  --sky-blue: hsl(216, 90.5%, 59%);
  --alert-red: hsl(10, 85.1%, 63%);
}
